# prepro

In [74]:
import pandas as pd
import seaborn as sns
from package_ml.get_data import Data
from package_ml.preprocessing import Preprocessing
from package_ml.model import Model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, LabelBinarizer, OrdinalEncoder, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn import set_config

import joblib
from joblib import dump, load

import warnings
warnings.filterwarnings("ignore")

set_config(display='diagram')

In [2]:
do = Data('titanic')

In [3]:
titanic_data = do.get_data()

In [4]:
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# pipeline

In [62]:
X = titanic_data.drop(['PassengerId','Name','Ticket','Survived', 'Cabin'], axis = 1)
y = titanic_data[['Survived']]

In [63]:
X_train, X_test, y_train, y_test = ml.split(X,y,test_size=0.2,random_state=2)

In [64]:
numerical_features = X.select_dtypes(include = ['number']).columns
categorical_features = X.select_dtypes(include = ['object']).columns

In [65]:
numerical_pipeline = make_pipeline(SimpleImputer(missing_values=np.nan, strategy='mean'))
categorical_pipeline = make_pipeline(SimpleImputer(missing_values=np.nan, strategy='most_frequent'), OrdinalEncoder())

In [66]:
preprocessor = make_column_transformer(
    (numerical_pipeline, numerical_features), (categorical_pipeline, categorical_features))

In [67]:
model = make_pipeline(preprocessor, LogisticRegression())

In [75]:
pipe_final = model.fit(X_train, y_train)

In [69]:
X_train_prediction = model.predict(X_train)

training_data_accuracy = accuracy_score(y_train, X_train_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)

Accuracy score of training data :  0.8117977528089888
Accuracy score of test data :  0.7877094972067039

In [76]:
joblib.dump(pipe_final, 'model_joblib')

['model_joblib']

In [77]:
model_final = load("C:/Users/Gwen/Desktop/Ecole_IA/projets/package_titanic_final_test_pipeline/app/package_ml/model_joblib")

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Gwen/Desktop/Ecole_IA/projets/package_titanic_final_test_pipeline/app/package_ml/model_joblib'

In [ ]:
# titanic_data['Embarked'].unique()

In [ ]:
# titanic_data.columns

In [ ]:
# preproc = Preprocessing(titanic_data)

In [ ]:
# preproc.drop('Cabin')

In [ ]:
# preproc.mean_inputer('Age')

In [ ]:
# preproc.mode_inputer('Embarked')

In [ ]:
# preproc.encoding('Sex','Embarked')

In [ ]:
# titanic_data = preproc.final_df()

In [ ]:
# titanic_data['Pclass'].unique()

# model

In [21]:
ml = Model(titanic_data)

In [34]:
X = ml.X_features_drop(['PassengerId','Name','Ticket','Survived', 'Cabin']) 
X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [35]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [36]:
y = ml.y_target(['Survived'])
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [37]:
X_train, X_test, y_train, y_test = ml.split(X,y,test_size=0.2,random_state=2)

In [38]:
X_train.shape, y_train.shape

((712, 7), (712, 1))

In [58]:
# model = LogisticRegression()
model.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('ordinalencoder',
                                                                   OrdinalEncoder())]),
                                                  Index(['Sex', 'Embarked'], dtype='object'))])),
                ('logisticregression', LogisticRegression())])

In [ ]:
processed = preprocessor.fit_transform(X_train)

In [ ]:
X_train_prediction = model.predict(X_train)

training_data_accuracy = accuracy_score(y_train, X_train_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)

In [ ]:
X.columns

In [73]:
ml.prediction(model = model ,pclass = 3, sex=0, age=35, sibsp=0, parch=0, fare=8.05, embarked=0)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [ ]:
X_test

In [ ]:
model.predict(X_test)

In [ ]:
y_test.shape, X_test.shape

In [ ]:
X.shape, y.shape

# Visualisation

In [ ]:
# rÃ©partition des survivants par sexe

f_v = 0
f_m = 0
h_v = 0
h_m = 0
for features, target in zip(X.values, y.values):
    if int(features[1]) == 1 and target[0] == 1:
        f_v += 1
    elif int(features[1]) == 1 and target[0] == 0:
        f_m += 1
    elif int(features[1]) == 0 and target[0] == 1:
        h_v += 1
    elif int(features[1]) == 0 and target[0] == 0:
        h_m += 1
#     print(features[1], target[0])
        
# synthaxe Ã  utiliser pour utilisation en htlm "liste de dict" 
[{"Nombre de femmes ayant survÃ©cu":f_v},{"Nombre de femmes n'ayant pas survÃ©cu":f_m},{"Nombre d'hommes ayant survÃ©cu":h_v},{"Nombre d'hommes n'ayant pas survÃ©cu":h_m}]

In [ ]:
# rÃ©partition des survivants par pclass

pclass1_v = 0
pclass1_m = 0
pclass2_v = 0
pclass2_m = 0
pclass3_v = 0
pclass3_m = 0

for features, target in zip(X.values, y.values):
    if int(features[0]) == 1 and target[0] == 1:
        pclass1_v += 1
    elif int(features[0]) == 1 and target[0] == 0:
        pclass1_m += 1
    elif int(features[0]) == 2 and target[0] == 1:
        pclass2_v += 1
    elif int(features[0]) == 2 and target[0] == 0:
        pclass2_m += 1
    elif int(features[0]) == 3 and target[0] == 1:
        pclass3_v += 1
    elif int(features[0]) == 3 and target[0] == 0:
        pclass3_m += 1
[{"Nombre de survivants ayant un ticket en 1Ã¨re classe":pclass1_v},{"Nombre de morts ayant un ticket en 1Ã¨re classe":pclass1_m},
 {"Nombre de survivants ayant un ticket en 2Ã¨me classe":pclass2_v},{"Nombre de morts ayant un ticket en 2Ã¨me classe":pclass2_m},
{"Nombre de survivants ayant un ticket en 3Ã¨me classe":pclass3_v},{"Nombre de morts ayant un ticket en 3Ã¨me classe":pclass3_m}]

In [ ]:
X['Age'].describe()

In [ ]:
# enfants : 0-10
# adolescents : 10-18
# adultes : 18-50
# personnes Ã¢gÃ©es : 50 et +
sns.histplot(X['Age'])

In [ ]:
# rÃ©partition par tranche d'Ã¢ge
# age = pd.cut(X['Age'], bins = [0, 18, 50, 80])

child_v = 0
child_m = 0
adult_v = 0
adult_m = 0
old_v = 0
old_m = 0

for age, target in zip(X.values, y.values):
    if int(age[2]) >= 0 and int(age[2]) <= 18 and target[0] == 1:
        child_v += 1
    elif int(age[2]) >= 0 and int(age[2]) <= 18 and target[0] == 0:
        child_m += 1
    elif int(age[2]) > 18 and int(age[2]) <= 55 and target[0] == 1:
        adult_v += 1
    elif int(age[2]) > 18 and int(age[2]) <= 55 and target[0] == 0:
        adult_m += 1
    elif int(age[2]) > 55 and target[0] == 0:
        old_v += 1
    elif  int(age[2]) > 55 and target[0] == 1:
        old_m += 1
        
        
[{"name": "Nombre d'enfants ayant survÃ©cu'","pourcent": child_v},
        {"name":"Nombre d'enfants n'ayant pas survÃ©cu","pourcent":child_m},
        {"name":"Nombre d'adultes n'ayant pas survÃ©cu","pourcent":adult_v},
        {"name":"Nombre d'adultes n'ayant pas survÃ©cu","pourcent":adult_m},
        {"name":"Nombre de personnes Ã¢gÃ©es n'ayant pas survÃ©cu","pourcent":old_v},
        {"name":"Nombre de personnes Ã¢gÃ©es n'ayant pas survÃ©cu","pourcent":old_m}]

In [ ]:
np.amax(X['Age'].values)

In [ ]:
age.value_counts()

In [ ]:
age.values

# Visualisation par avec ou sans famille